.Grid-container{
    display: grid;
    grid: repeat(3, 60px) / auto-flow 80px;
}

.Grid-container > div {
    background-color: blue;
    width: 50px;
    height: 50px;
}

.Grid-container2{
    display: grid;
    grid: repeat(3, 60px) / auto-flow 80px;
}

.Grid-container2 > div {
    background-color: aqua;
    width: 50px;
    height: 50px;
}

.Grid-container3{
    display: grid;
    grid: repeat(3, 60px) / auto-flow 80px;
}

.Grid-container3 > div {
    background-color: aliceblue;
    width: 50px;
    height: 50px;
}

@media (max-width: 768px){
    .Grid-container{
        margin: 0 auto !important;
        padding: 0 !important;
    }
}

@media (max-width: 768px){
    .Grid-container2{
        margin: 0 auto !important;
        padding: 0 !important;
    }
}

@media (max-width: 768px){
    .Grid-container3{
        margin: 0 auto !important;
        padding: 0 !important;
    }
}
